{% extends 'base.html' %}
{% load static %}
{% block title %} Add New Truck{% endblock %}
{% block customcss %}
<link href={% static 'css/manager/manager.css' %} rel="stylesheet">
{% endblock %}
{% block body %}
<!--Navbar Starts-->

<nav class="navbar  navbar-default">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">ABC Transports</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="index.html">Dashboard</a></li>
                  <li><a href={% url 'trucks' %}>Trucks</a></li>
                  <li><a href="#">Transporters</a></li>

               </ul>
               <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>

                  <li><a href="#">Logout</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>





<!--Main Section-->
<section id="main">
    <div class="container">
      {% if transporter_details_form.errors %}
          <p style="color: red;">
              Please enter a valid 'Insurance To' date{{ transporter_details_form.errors|pluralize }} below.
          </p>
      {% endif %}






    <form method="post">
        <div class="row">
            {% csrf_token %}


        </div>
        <hr class="hr-one"/>

        <div class="row">

              <div class="col-md-12">
                  <H3 >Add a new Transporter</H3>
              </div>
        </div>

                <hr class="hr-one"/>

      <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-default ">
                         <div class="panel-heading main-color-bg ">
                            <h3 class="panel-title">Transporter Details</h3>
                                </div>
                                <div class="panel-body height-panel">
                                    <div class="row ">

                                        {% for fields in transporter_details_form %}
                                        <div class="col-md-6">
                                            <label> {{ fields.label }} </label><div class="field_values">{{ fields }}</div>
                                            <br/>
                                        </div>
                                        {%if forloop.counter|divisibleby:"2" %}
                                        <br/> {% endif %} {% endfor %}
                                    </div>
                                </div>
                            </div>






                            <div class="row">
                            <div class="col-md-10"><em></em></div>
                            <div class="col-md-2 " style="text-align: right; margin-bottom:20px;">
                               <input type="submit" class="btn btn-primary" id="verify_btn"  value="SAVE">
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
</section>






{% endblock %}

{% block bottomscript %}



<script type="text/javascript">



</script>






 {% endblock %}
