{% extends 'base.html' %}
{% load static %}
{% block title %} Add New Truck{% endblock %}
{% block customcss %}
<link href={% static 'css/manager/manager.css' %} rel="stylesheet">
{% endblock %}
{% block body %}
<!--Navbar Starts-->

<nav class="navbar  navbar-default">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">ABC Transports</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                   <li class="active"><a {% url 'index' %}>Dashboard</a></li>
 			<li><a href={% url 'alltransporters' %}>Transporters</a></li>
 			<li><a href={% url 'alltrucks' %}>Trucks</a></li>

               </ul>
               <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>

                  <li><a href="#">Logout</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>





<!--Main Section-->
<section id="main">
    <div class="container">


      {% if insurance_detail_form.errors %}
          <p style="color: red;"><b>Error in Insurance Details</b>
              <br/>
            Please check insurance from and to dates.
          </br/>

          </p>
      {% endif %}
      {% if truck_details_form.errors %}
          <p style="color: red;"><b>Error in Truck Details</b>
                <br/>
            Registration no. should be atleast 6 letters long
          </p>
      {% endif %}

      {% if fitness_detail_form.errors %}
          <p style="color: red;"><b>Error in Fitness Details</b>
                <br/>
          </p>
      {% endif %}






    <form method="post" enctype="multipart/form-data">
        <div class="row">
            {% csrf_token %}

              <div class="col-md-12">


              </div>
        </div>
        <hr class="hr-one"/>

        <div class="row">

              <div class="col-md-12">
<H3 >Add a new truck</H3>

              </div>
        </div>

                <hr class="hr-one"/>

      <div class="row">
            <div class="col-md-12">
                   <div class="panel panel-default ">
                         <div class="panel-heading main-color-bg ">
                            <h3 class="panel-title">Truck Details</h3>
                                </div>
                                <div class="panel-body height-panel">
                                    <div class="row ">

                                        {% for fields in truck_details_form %}
                                        <div class="col-md-6">
                                            <label> {{ fields.label }} </label><div class="field_values">{{ fields }}</div>
                                            <br/>
                                        </div>
                                        {%if forloop.counter|divisibleby:"2" %}
                                        <br/> {% endif %} {% endfor %}
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default ">
                                <div class="panel-heading main-color-bg ">
                                    <h3 class="panel-title">Insurance Details</h3>
                                </div>
                                <div class="panel-body height-panel">
                                    <div class="row ">
                                        {% for fields in insurance_detail_form %}
                                        <div class="col-md-6">
                                            <label> {{ fields.label }} </label>{{ fields }}
                                            <br/>
                                        </div>
                                        {%if forloop.counter|divisibleby:"2" %}
                                        <br/> {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading main-color-bg ">
                                    <h3 class="panel-title">Fitness Details</h3>
                                </div>
                                <div class="panel-body height-panel">
                                    <div class="row ">
                                        {% for fields in fitness_detail_form %}
                                        <div class="col-md-6">
                                            <label> {{ fields.label }} </label>{{ fields }}
                                            <br/>
                                        </div>
                                        {%if forloop.counter|divisibleby:"2" %}
                                        <br/> {% endif %} {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default ">
                                <div class="panel-heading main-color-bg ">
                                    <h3 class="panel-title">Pollution Certificate</h3>
                                </div>
                                <div class="panel-body height-panel">
                                    <div class="row ">
                                        {% for fields in pollution_certificate_form %}
                                        <div class="col-md-6">
                                            <label id="plan_fields"> {{ fields.label }} </label>{{ fields }}
                                            <br/>
                                        </div>
                                        {%if forloop.counter|divisibleby:"2" %}
                                        <br/> {% endif %} {% endfor %}


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-10"><em></em></div>
                            <div class="col-md-2 " style="text-align: right; margin-bottom:20px;">
                               <input type="submit" class="btn btn-primary" id="verify_btn"  value="SAVE" name="SAVE_TRUCK">
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
</section>






{% endblock %}

{% block bottomscript %}



<script type="text/javascript">



</script>






 {% endblock %}
