{% extends 'base.html' %}
{% load static %}
{% block title %} Add New Truck{% endblock %}
{% block customcss %}
<link href={% static 'css/manager/manager.css' %} rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">


{% endblock %}
{% block body %}
<!--Navbar Starts-->

<nav class="navbar  navbar-default">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">ABC Transports</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                 <li><a href={% url 'index' %}>Dashboard</a></li>
                 <li class="active"><a href={% url 'alltransporters' %}>Transporters</a></li>
                 <li><a href={% url 'alltrucks' %}>Trucks</a></li>

               </ul>
               <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>

                  <li><a href="#">Logout</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>


<!--Main Section-->
<section id="main">
    <div class="container">

        <div class="row">
              <div class="col-md-12">

                <div class="panel panel-default">
                               <div class="panel-heading">
                                  <h3 class="panel-title">Transporter</h3>
                               </div>
                               <div class="panel-body">


                                   <div class="row">
                                      <div class="col-md-12">
                                          
                                        <table id="all_transporters_table" class="display" width="100%"></table>
                                     </div>
                                   </div>
                               </div>
                            </div>



              </div>
        </div>
    </div>
</section>






{% endblock %}

{% block bottomscript %}

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>


<script type="text/javascript">

var truck_data_json = {{ all_transporters | safe }};


var table = $('#all_transporters_table').DataTable({
 "data": truck_data_json ,
 "fnRowCallback": function(nRow, aData, iDisplayIndex) {

      $('td:eq(0)', nRow).html('<p class="registered_truck">'+aData[0] + '</p>');



      return nRow;
      //id=id+1;
 },
 "columns": [
      { title: "ID" },
      { title: "Name" },
      { title: "Age" },
      { title: "Status" },
 ]



});




</script>






 {% endblock %}
