{% extends 'base.html' %}
{% load static %}

{% block title %}
	ABC Manager | Dash
{% endblock %}
{% block customcss %}
<link href={% static 'css/manager/manager.css' %} rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block customscript %}

{% endblock %}

{% block body %}

<nav class="navbar  navbar-default">
         <div class="container">

            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">ABC Transports</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href={% url 'index' %}>Dashboard</a></li>
			<li><a href={% url 'alltransporters' %}>Transporters</a></li>
			<li><a href={% url 'alltrucks' %}>Trucks</a></li>

               </ul>
               <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>

                  <li><a href="login.html">Logout</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>

      <section id="main">
         <div class="container">
            <div class="row">

               <!-- /.col-lg-6 -->
               <div class="col-md-12">
                  <!--Daily Stats-->
                  <div class="panel panel-default ">
                     <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">RESOURCE STATS</h3>
                     </div>
                     <div class="panel-body">
                        <div class="col-md-6">
                           <div class="well dash-box" style="align:center;">
                              <h2><span class="glyphicon glyphicon-road" aria-hidden="true"></span> <small></h2>
                              <h6>TRUCKS</h6>

                           </div>
                           <a href={% url 'addtruck' %}><p class="" align="center">ADD TRUCK +</p></a>
                        </div>
                        <div class="col-md-6">
                           <div class="well dash-box">
                              <h2><span class="glyphicon glyphicon-user" aria-hidden="true"><small></small></h2>

                              <h6>TRANSPORTERS</h6>
                           </div>
                           <a href={% url 'addtransporter' %}><p align="center">ADD TRANSPORTER +</p></a>

                        </div>

                     </div>
                  </div>
                  <!--Tabled-->
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">New Trucks Added</h3>
                     </div>
                     <div class="panel-body">


                         <div class="row">
                            <div class="col-md-12">
                              <table id="trucks_data_table" class="display" width="100%"></table>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer id="footer">
         <div class="container">
            <p>&copy; ABC Transports 2017</p>
         </div>
      </footer>

{% endblock %}
{% block bottomscript %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>



<script type="text/javascript">


var truck_data_json = {{ truck_data_dictionary | safe }};




var table = $('#trucks_data_table').DataTable({
 "data": truck_data_json ,
 "fnRowCallback": function(nRow, aData, iDisplayIndex) {

      $('td:eq(0)', nRow).html('<p class="registered_truck">'+aData[0] + '</p>');




      $('td:eq(5)', nRow).html('<a href="' +"driver/"+ aData[0] + '">' +
             aData[5] + '</a>');

      return nRow;
      //id=id+1;
 },
 "columns": [
      { title: "ID" },
      { title: "Brand" },
      { title: "Model" },
      { title: "Insurance Expiry" },
      { title: "Fitness Expiry" },
      { title: "STATUS" },
 ]



});
</script>

{% endblock %}
