{% extends 'base.html' %}
{% load static %}
{% block title %} Assign Driver{% endblock %}
{% block customcss %}
<link href={% static 'css/manager/manager.css' %} rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}
{% block body %}
<!--Navbar Starts-->

<nav class="navbar  navbar-default">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">ABC Transports</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li><a href={% url 'index' %}>Dashboard</a></li>
                  <li><a href={% url 'alltransporters' %}>Transporters</a></li>
                  <li><a href={% url 'alltrucks' %}>Trucks</a></li>

               </ul>
               <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>

                  <li><a href="#">Logout</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>





<!--Main Section-->
<section id="main">
    <div class="container">

        <hr class="hr-one"/>

        <div class="row">

              <div class="col-md-12">
                  <H3 >Assign Driver</H3>
              </div>
        </div>
        <hr class="hr-one"/>

    <div class="panel panel-default ">
    <div class="panel-heading main-color-bg ">
    <h3 class="panel-title">Truck Details</h3>
    </div>
    <div class="panel-body height-panel">
    <div class="row ">

        <div class="col-md-12">
            <table id="truck_data_table" class="display" width="100%"></table>
        </div>


    </div>
    </div>
    </div>

      <br/>




      <div class="panel panel-default ">
      <div class="panel-heading main-color-bg ">
      <h3 class="panel-title">Choose a Transporter to assign</h3>
      </div>
      <div class="panel-body height-panel">
      <div class="row ">

          <div class="col-md-12" id="transporter_div">

              <table id="transporter_data_table" class="display" width="100%"></table>
              <em id = "notice">No transporters added yet. Please add transporters from the Dashboard</em>

          </div>


      </div>
      </div>
      </div>





</div>
</section>






{% endblock %}

{% block bottomscript %}




<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>



<script type="text/javascript">

var truck_data_json = {{ truck_data | safe }};


console.log(truck_data_json);

var truck_detail_table = $('#truck_data_table').DataTable({

 "bFilter": false,
 "bPaginate": false,
     "data": truck_data_json,
 "columns": [
      { title: "ID" },
      { title: "Model" },
      { title: "Brand" },
      { title: "Insurance Start Date" },
      { title: "Insurance Expiry Date" },
      { title: "Fitness Start Date" },
      { title: "Fitness Expiry Date" },
      { title: "Transporter" },
 ]
});


var list_of_transporters_json = {{ list_of_transporters | safe }};

if(list_of_transporters_json.length > 0){
    console.log("Transporters data exist");
    $('#notice').hide();
}
else{
    console.log("Transporters data doesn't exist");


}



var truck_detail_table = $('#transporter_data_table').DataTable({

 "data": list_of_transporters_json,
 "fnRowCallback": function(nRow, aData, iDisplayIndex) {

      $('td:eq(3)', nRow).html('<a href="' +"assign/"+ aData[0] + '">' +
             aData[3] + '</a>');

      return nRow;
      //id=id+1;
 },



 "columns": [
      { title: "Transporter ID" },
      { title: "Name" },
      { title: "Age" },
      { title: "ACTION" },
 ]
});





</script>







 {% endblock %}
