{% extends 'base.html' %}
{% load static %}

{% block title %}
	ABC Manager | Dash
{% endblock %}
{% block customcss %}
<link href={% static 'css/transporter/transporter.css' %} rel="stylesheet">
{% endblock %}

{% block customscript %}

{% endblock %}

{% block body %}

<nav class="navbar  navbar-default">
         <div class="container">

            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">ABC Transports</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="">Dashboard</a></li>



               </ul>
               <ul class="nav navbar-nav navbar-right">
<li class="dropdown">
          <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="notifications_link"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span class="badge" id="new_count"></span></a>
          <ul class="dropdown-menu" id="notifications">

          </ul>
        </li>

                  <li><a href="login.html">Logout</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </nav>

      <section id="main">
         <div class="container">
            <div class="row">

              <div class="panel panel-default " style="margin-top:40px;">
                 <div class="panel-heading ">
                 <h3 class="panel-title"></h3>
                 </div>
                 <div class="panel-body height-panel">
                 <div class="row ">

                     <div class="col-md-12" id="transporter_div">

                         <em id = "notice">Hello Transporter !!. You'll be notified before your documents expire. </em>

                     </div>


                 </div>
                 </div>
                 </div>
            </div>
         </div>
      </section>
      <footer id="footer">
         <div class="container">
            <p>&copy; ABC Transports 2017</p>
         </div>
      </footer>

{% endblock %}
{% block bottomscript %}


<script type="text/javascript">

var new_reminders = {{ new_reminder_json_array | safe }};
var old_reminders = {{ read_reminder_json_array | safe }};
var new_notification_count ="";



console.log(new_reminders);
console.log(old_reminders);

var new_notif_items = [];
var read_notif_items = [];

if(new_reminders == null){
  $('#new_count').css("visibility", "hidden");
  console.log("BADGE INVISIBLE NOW");
  //$('')
}
else{
  console.log("BADGE VISIBLE NOW");
  new_notification_count = new_reminders.length
  $('#new_count').html(new_notification_count);

}


$.each(new_reminders, function(i, item) {
  new_notif_items.push('<li class="new_notif_style"><a href="=' + "#" + '">' + item + '</a></li>');
   }
   );  // close each()

  new_notif_items.push('<li class="read_notif_style">' + '<hr/>' + '</li>');




   $('#notifications').append( new_notif_items.join('') );

$('#notifications').append('<li class="read_notif_style">'+'Old Messages'+'</li>');


$.each(old_reminders, function(i, item) {
      read_notif_items.push('<li class="read_notif_style"><a href="#">' + item + '</a></li>');

      });  // close each()

   $('#notifications').append( read_notif_items.join('') );




   $('.dropdown-toggle').click(function(e) {
    console.log("notifications Clicked !!");
    $('#new_count').css("visibility", "hidden");


    // CSRF token to view via ajax
   function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
   }
   var csrftoken = getCookie('csrftoken');

   function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
   }
   $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
   });

    $.ajax({

                    type: "GET",
                    url : '{% url "mark_as_read" %}',
                    contentType: "application/json",

                    "success": function(data) {
                        if(data.status==1){
                            console.log(data);

                        }
                        else
                        {
                            console.log("ERROR HAppened");
                        }

                            },

                    dataType: "json",
          });

    e.preventDefault();// prevent the default anchor functionality
});













</script>

{% endblock %}
