{% extends 'base.html' %}
{% load static %}

{% block title %}
	ABC Transports | Login
{% endblock %}
{% block customcss %}<link href={% static 'css/transporter/transporter.css' %} rel="stylesheet">{% endblock %}

{% block body %}
    <nav class="navbar  navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ABC Transports </a>
        </div>

      </div>
    </nav>

    <header id="header">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h3>Transporter Login</h3>
              </div>

          </div>
        </div>
    </header>



  <section id="main">
    <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4 ">
              <form id="login" class="well" method="POST">

              	{% csrf_token %}
                  <div class="form-group">
                      <label>Transporter ID</label>
                      {{ login_form.username }}
                  </div>
                  <div class="form-group">
                      <label>Password</label>
                      {{ login_form.password }}
                  </div>
                  <input type="submit" class="btn btn-default btn-block">
              </form>

          </div>
      </div>
    </div>
  </section>

  <footer id="footer">
    <div class="container">
        <p>ABC Transports &copy; 2017</p>
    </div>

  </footer>


{% endblock %}
