body {
  background: #f4f4f4;
}

/* Navbar*/

.navbar {
  min-height: 33px !important;
  margin-bottom: 20px;
  border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}





.navbar-default {
  background-color: #474350;
  border-color: #6c667a;
}
.navbar-default .navbar-brand {
  color: #f8fff4;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fcffeb;
}
.navbar-default .navbar-text {
  color: #f8fff4;
}
.navbar-default .navbar-nav > li > a {
  color: #f8fff4;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fcffeb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fcffeb;
  background-color: #6c667a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fcffeb;
  background-color: #6c667a;
}
.navbar-default .navbar-toggle {
  border-color: #6c667a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6c667a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8fff4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8fff4;
}
.navbar-default .navbar-link {
  color: #f8fff4;
}
.navbar-default .navbar-link:hover {
  color: #fcffeb;
}
.dash-box {
    text-align: center;
}

.btn-primary{
    color: #fff !important;
    background-color: #484450;
    border-color: #474350 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color: #826c7f;
border-color: #474350;
}

.height-panel{
  min-height: 200px;
}

.temp_bg1{

  min-height: 210px;
  background: #ddd;

}
.temp_bg2{
  min-height: 210px;
  background: #eef441 ;
}
.temp_bg3{

  min-height: 10px;

}
.temp_bg4{

  min-height: 10px;
  background: #3dffd1 ;

}
.temp_bg5{

  min-height: 30px;
  background: #ffe016 ;
}

.back{
display: inline;
padding-left: 10px;
color: #453933;
font-size: 1.2em;
vertical-align: middle;
}
.hr-one{
  margin: 25px 0;
  padding: 0;
  background-color: #ccc;
  border-color:#ccc;
}






#footer{
  background: #826C7F;
  color:#ffffff;
  text-align:inherit;
  padding: 30px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8fff4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fcffeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fcffeb;
    background-color: #6c667a;
  }
}
